<h> Residents </h>

<% @residents.each do |resident| %>
  <h3><%= resident.name %></h3>
  <ul>
    <li>Age: <%= resident.age %></li>
    <li>Occupation: <%= resident.occupation %></li>
  </ul>
<% end %>

<p>Average Age: <%= @avg_age %></p>